body{
    /* background-color:rgb(15, 26, 22); 
    color: aliceblue; */
}
.clock{
    height: 100vh;
    color: rgb(169, 235, 213); ;
    display: flex;
    justify-content: center;
    align-items: center;
}